@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Booking Confirmed Successfully</h1><br />
    </div>
    <div class="col-12 text-center" style="color:green">
        <br />
        Thank you for your booking ticket! <br />
        We have received your booking and we will send a follow up email shortly!
        <br />
        Your Booking Number is :@Model
    </div>
</div>